<div class="col-sm-12">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
</div>
<div>
    <div class="car-container car-container-home">
        <div class="car-container-title">
            new cars
        </div>
        <div class="car-container-body">
            <div class="col-sm-4 car-item-wrap car-item-wrap-3" ng-repeat="car in vm.new">
                <div class="car-item">
                    <div class="car-img">
                        <img class="img-responsive" ng-src="content/images/cars/{{ car.id }}/1.jpg" alt="">
                    </div>
                    <div class="car-info">
                        <div>
                            <a ui-sref="detail({id:{{ car.id }}})">
                                <span>{{ car.make }}<span>
                           <span>{{ car.model }}<span>
                        </a>
                     </div>
                     <div>{{ car.year }}</div>
                     <div class="price">${{ car.price }}</div>
                  </div>
                  <div class="car-buy">
                     <div class="col-sm-2 status status-instock" data-toggle="tooltip" title="IN STOCK"
                              ng-show="(car.status == 1) && ((car.quantity - car.sold) != 0)">
                           <i class="fa fa-check"></i>
                     </div>
                     <div class="col-sm-2 status status-outofstock" data-toggle="tooltip" title="OUT OF STOCK"
                              ng-show="(car.status == 1) && ((car.quantity - car.sold) == 0)">
                        <i class="fa fa-exclamation"></i>
                     </div>
                     <div class="col-sm-2 status status-suspended" data-toggle="tooltip" title="SUSPENDED TRADING"
                              ng-show="(car.status == 0)">
                        <i class="fa fa-times"></i>
                     </div>
                     <div role="button" class="col-sm-5 buy-now" ng-click="vm.buy(car)"
                              ng-disabled="(car.status == 0) || ((car.quantity - car.sold) == 0)">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Buy</span>
                        </div>
                        <div role="button" class="col-sm-5 add-to-cart" ng-click="vm.addItem(car)" ng-disabled="(car.status == 0) || ((car.quantity - car.sold) == 0)">
                            <i class="fa fa-cart-plus"></i>
                            <span>Cart</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="car-container car-container-home">
        <div class="car-container-title">
            random cars
        </div>
        <div class="car-container-body">
            <div class="col-sm-4 car-item-wrap car-item-wrap-3" ng-repeat="car in vm.random">
                <div class="car-item">
                    <div class="car-img">
                        <img class="img-responsive" ng-src="content/images/cars/{{ car.id }}/1.jpg" alt="">
                    </div>
                    <div class="car-info">
                        <div>
                            <a ui-sref="detail({id:{{ car.id }}})">
                                <span>{{ car.make }}<span>
                           <span>{{ car.model }}<span>
                        </a>
                     </div>
                     <div>{{ car.year }}</div>
                     <div class="price">${{ car.price }}</div>
                  </div>
                  <div class="car-buy">
                     <div class="col-sm-2 status status-instock" data-toggle="tooltip" title="IN STOCK"
                              ng-show="(car.status == 1) && ((car.quantity - car.sold) != 0)">
                           <i class="fa fa-check"></i>
                     </div>
                     <div class="col-sm-2 status status-outofstock" data-toggle="tooltip" title="OUT OF STOCK"
                              ng-show="(car.status == 1) && ((car.quantity - car.sold) == 0)">
                        <i class="fa fa-exclamation"></i>
                     </div>
                     <div class="col-sm-2 status status-suspended" data-toggle="tooltip" title="SUSPENDED TRADING"
                              ng-show="(car.status == 0)">
                        <i class="fa fa-times"></i>
                     </div>
                     <div role="button" class="col-sm-5 buy-now" ng-click="vm.buy(car)"
                              ng-disabled="(car.status == 0) || ((car.quantity - car.sold) == 0)">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Buy</span>
                        </div>
                        <div role="button" class="col-sm-5 add-to-cart" ng-click="vm.addItem(car)" ng-disabled="(car.status == 0) || ((car.quantity - car.sold) == 0)">
                            <i class="fa fa-cart-plus"></i>
                            <span>Cart</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>